<header class="container">
  <form class="search-form" id="search-form">
    <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button type="submit" class="grey-btn">
      <svg class="icon" width="14" height="14">
        <use href="./icon/icons.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</header>
<main style="padding-bottom: 40px">
  <div class="gallery">
    <!-- Карточки изображений -->
  </div>
  <div class="wrap"><button type="button" class="load-more">Load more</button></div>
</main>

